body{
    margin: 0 auto;
    font-family: sans-serif;
    margin: 10px;
    line-break: loose;
    text-align: center;
    background-size: auto;
    background-image : linear-gradient(white,orange);
    /* background-image: url('images/bus_building.jpg');  */
    background-repeat: no-repeat center fixed;
    min-height: 100px;
}
.container{
    float: right;
    width: 80%;
    margin: 0 auto;
}
nav{
    text-align: right;
}

nav ul{
    margin: 0;
    padding: 10px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 15px;
}

h1{
    font-weight: 100;
    margin: 20px;
    font-size: 60px; 
    padding: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
td{
    padding-right: 20px;
    /* padding-left: 20px; */
    padding-top: 6px;
    padding-bottom: 6px;
}

a{
    outline: none;
    text-decoration: none;
    padding: 20px 1px 0;
    color: black;
}
a:hover{
    color: goldenrod;
}
/* br{
    content: "";
    font-size:20%;
    display: block;
    margin: 10px;
} */


fieldset{
    margin:10px;
    text-align: center;
    border: none;
}
.autocomplete{
    position: relative;
    display: inline-block;
}
.autocomplete-items{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
}
.autocompete-items div{
    padding:10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4
}
.autocompete-items div:hover{
    background-color: #e9e9e9;
}
.autocomplete-active{
    background-color:goldenrod;
    color: #ffffff;
}
button{
    border-radius: 6px;
    border: black;
    border: .5px;
    padding: 8px;
    background-color: #ffe5b4;
    width: 200px; 
    height: 50px;
    font-size: 20px;
}

.context{
    font-size: 30px;
}

.input{
    width: 100px; 
    height: 20px;
}

/* #below{
    margin: auto;
    font-size:60px;
   /*padding: 100px;*/
} */

#sub{
    font-size:30px;
}




/* #result {
    border: 1px dotted #ccc;
    padding: 3px;
  }
  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  } */