<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
</head>
<body>
    <h1>Hello World</h1>
    <form action = "/logout?_method=DELETE" method="POST">
        <button type = "submit">LOGOUT</button>
    </form>
</body>
</html>
-->
<!DOCTYPE html>
<!--Author: Cole Sandifer -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="mainpage.css" />
    <title></title>
  </head>

  <script src="../server.js"></script>
  <body>
    <header>
      <div class="container">
        <nav>
          <!-- <label for="text"><b>Course Connect</b></label> -->
          <ul>
            <li><a href="./index">Home</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./register">Registration</a></li>
            <li><a href="./Rating_Page">Rating Page</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <br />
    <h1 id="below">Course Connect</h1>

    <form autocomplete="off" action="/Rating_Page">
      <br />
      <br />

      <label id="sub"
        >Greetings! Search for your future course to find the top
        professor</label
      >
      <fieldset id="signup">
        <table>
          <tr>
            <td align="left" class="context">Department</td>
            <td>
              <div class="autocomplete">
                <select id="department" class="input">
                  <%deptList.forEach(dept =>{%>
                  <option><%=dept.Name%></option>
                  <%})%></select
                ><br />
              </div>
            </td>
          </tr>
          <tr>
            <td align="left" class="context">Number</td>
            <td>
              <input
                class="input"
                id="classOp"
                required
                name="numField"
                maxlength="3"
                size="3"
              />
            </td>
          </tr>
        </table>

        <br /><button
          class="button"
          onclick='this.form.action=("/Rating_Page" + document.getElementById("department").value + document.getElementById("classOp").value);'
        >
          Look for my course
        </button>
      </fieldset>
    </form>
  </body>
</html>
