<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><a href="./index">Home</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./register">Registration</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- <img src="towson.png" alt="Towson Logo" width="200" height="200">-->

    <h1>Course Connect</h1>
    <div class="main">
      <h1>SIGN IN TO YOUR ACCOUNT</h1>
      <% if (messages) { %>
      <p><%= messages.error %></p>
      <% } %>
      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email Address" />
        <input type="password" name="password" placeholder="Password" />
        <button>SIGN IN</button>
      </form>
      <form action="/register" method="POST">
        <button>REGISTER</button>
      </form>
    </div>
    <div class="bnav">
    <a href="https:www.facebook.com/towsonuniversity" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/TowsonU" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/towsonuniversity/" target="_blank" class="fa fa-instagram"></a>    
    </div>
  </body>
</html>
