
  .container{
    float: right;
    width: 80%;
    margin: 0 auto;
    
  }
  nav{
    text-align: right;
  }

  nav ul{
    margin: 0;
    padding: 10px;
    list-style: none;
  }

  nav li{
    display: inline-block;
    margin: 0 15px;
  }
 
  a{
    outline: none;
    text-decoration: none;
    padding: 20px 1px 0;
    color: black;
    font: bolder;
  }

  a:hover{
    color: white;
  }
  
  h1 {
    color: Black;
    text-align: center;
  }
  h2 {
    font-weight: bold;
  }
  html{
    margin: 30px;
    min-height: 100%;
    width: 100%;
  }
  body{
    background-image: linear-gradient(orange,white);
    min-height: 100%;
    margin: 0px;
  }
  form{
    display: inline-block;
  }
  #AddReview{
    text-align: center;
    border : solid 1px black;
    max-width : 50%;
    background-color: darkgoldenrod;
    width: 100%;
    font-size: larger;
    box-shadow: 5px 10px 8px 10px black;
    
  }
  label{
    font-size: 25px;
    font-weight: bold;
  }
  #NumRating , #ProfRating{
    width :150px;
    font-weight: bold;
    font-size: larger;
    background-color: aliceblue;
  }
  select{
    width: max-content;
    width:150px;
    font-weight: bold;
    font-size: Larger;
    background-color: aliceblue;
  }
  textarea{
    resize: none;
    font-weight: bold;
    font-size: larger;
    background-color:aliceblue;
    width: max-content;
  }
  #SubmitReview{
    transition-duration: 0.4s;
    font-size: larger;
    font-weight: bold;
    border: 5px solid green;
    
  }
  #SubmitReview:hover{
    background-color: green;
    color: black;
  }
  .card{
    box-shadow: 5px 10px 8px 10px black;
    width: 80%;
    max-width:800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: darkgoldenrod;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
  }
  #tuImage{
    width:120px ;
    height: 100px;
  }