@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{

    box-sizing: border-box;
}


body{
    margin: 0 auto;
    font-family: sans-serif;
    margin: 10px;
    line-break: loose;
    background-size: auto;
    background: linear-gradient(orange,white) no-repeat center center fixed;
    /* background-image: url('images/bus_building.jpg');  */
    place-items: center;
    display: grid;
}

.main{
    width: 500px;
    max-width: 90%;
    text-align: center;
    background-color: white;
    padding: 25px 20px;
    border-radius: 10px;
    text-align: center;
    min-height: 100px;
}

.main > h1 {
    font-size: 30px;
    color: rgb(26, 25, 25);
    margin: 0 0 30px 0;
}

.main > form > input {
    width: 95%;
    padding: 10px;
    background-color: #ccc;
    color: gray;
    border: 0;
    margin: 10px 5px;
    border-radius: 8px;
}

.main > form > button{
    background-color: black;
    padding: 15px;
    width: 95%;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.main > form > input:focus,
.main > form > button:focus{
    outline: none;
}
/*navbar*/
.container{
    width: 100%;
    margin: 0 auto;
    float: center;
    margin-bottom: 200px;
}

nav ul{
    float: center;
    list-style: none;
    white-space: nowrap;
}

nav li{
    display: inline-block;
    margin: 0 35px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: white;
}
